<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="{{ url_for('base.portal') }}">Admin Portal</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
        <a class="nav-link" href="{{ url_for('base.users') }}">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text">Users</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tools">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
          <i class="fa fa-fw fa-wrench"></i>
          <span class="nav-link-text">Tools</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a href="{{ url_for('tools.google') }}">Google BQ</a>
          </li>
          <li>
            <a href="{{ url_for('tools.callrail') }}">CallRail</a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mapping">
        <a class="nav-link" href="{{ url_for('tools.mapping') }}">
          <i class="fa fa-fw fa-random"></i>
          <span class="nav-link-text">Mapping</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logs">
        <a class="nav-link" href="{{ url_for('tools.logs') }}">
          <i class="fa fa-fw fa-tasks"></i>
          <span class="nav-link-text">Logs</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('base.profile') }}"><i class="fa fa-fw fa-user"></i>Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('base.logout') }}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div>
      </li>


    </ul>
  </div>
</nav>
