<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="{{ url_for('base.portal') }}">Admin Portal</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      {% if current_user.is_admin() %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link" href="{{ url_for('users.users_page') }}">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Users</span>
          </a>
        </li>
      {% endif %}
      {% if current_user.has_permission('sources') or current_user.is_admin() %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sources">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSources">
            <i class="fa fa-fw fa-caret-square-o-down"></i>
            <span class="nav-link-text">Sources</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseSources">
            <li>
              <a href="{{ url_for('sources.callrail') }}">CallRail</a>
            </li>
          </ul>
        </li>
      {% endif %}
      {% if current_user.has_permission('destinations') or current_user.is_admin() %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Destinations">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDestinations">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">Destinations</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseDestinations">
              <li>
                <a href="{{ url_for('destinations.google') }}">Google BQ</a>
              </li>
            </ul>
        </li>
      {% endif %}
      <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mapping">
        <a class="nav-link" href="{{ url_for('tools.mapping') }}">
          <i class="fa fa-fw fa-random"></i>
          <span class="nav-link-text">Mapping</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logs">
        <a class="nav-link" href="{{ url_for('tools.logs') }}">
          <i class="fa fa-fw fa-tasks"></i>
          <span class="nav-link-text">Logs</span>
        </a>
      </li> -->
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('users.profile') }}"><i class="fa fa-fw fa-user"></i>Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('base.logout') }}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div>
      </li>


    </ul>
  </div>
</nav>
