{% extends "base.html" %} {% block content %}



<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-wrench"></i> CallRail</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Master Account Name</th>
          <th scope="col">Master Account ID</th>
          <th scope="col">Token</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td scope="row"></td>
          <td scope="row"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"></td>
          <td class="text-right"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add New</button></td>
        </tr>
      </tfoot>
    </table>
  </div>
    </div>

  <div class="card mb-3">
    <div class="card-header">Available Account IDs</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Master Account Name</th>
            <th scope="col">Account ID</th>
            <th scope="col">Account Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td scope="row"></td>
            <td scope="row"></td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>


    {% endblock %}
