{% extends "base.html" %}

{% block extra_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet">
{% endblock %}

{% block content %}



<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-user"></i> Users
  </div>
  <div class="card-body">
      <div class="table-responsive">
        <table class="table ">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Is Admin</th>
                <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              {% for user in users %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.has_permission('admin')}}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-danger btn-sm"  data-toggle="modal" data-target="#removeModal" data-remove-url="{{ url_for('users.remove_user', userid=user.id) }}" data-remove-title="Remove user" data-remove-message="Are you sure you want to remove this user?"><i class="fa fa-times"></i> Remove</button>
                  <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#editModal" data-userid="{{user.id}}" data-username="{{user.username}}" data-email="{{user.email}}" data-userpermissions="{{user.get_permissions()|join(',') }}"><i class="fa fa-pencil"></i> Edit</button></td>
              </tr>
              {% endfor %}
          </tbody>
          <tfoot>
              <tr>
                <td  colspan="4"></td>
                <td class="text-right"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add User</button></td>
              </tr>
          </tfoot>
      </table>
    </div>
  </div>
</div>

{% from 'includes/macros.html' import form_field %}

  <!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="editForm" action="{{ url_for('users.edit_user') }}" method="post">
            <div class="form-group">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input id="userid" name="userid" type="hidden" value="">
              {{form_field(edit_user_form,'username',True,3)}}
            </div>
            <div class="form-group">
              {{form_field(edit_user_form,'email')}}
            </div>
            <div class="form-group">
              <div>
                {{ edit_user_form.permissions.label(class="col-form-label") }}
              </div>
              {{ edit_user_form.permissions(class="form-control permissions",id=False) }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              {{ edit_user_form.edituser(class="btn btn-primary", id=False) }}
            </div>
          </form>
      </div>
    </div>
  </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLongTitle">Add New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <form action="{{ url_for('users.add_user') }}" id="addForm" method="post">
        <div class="modal-body">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group">
              {{form_field(add_user_form,'username',True,3)}}
          </div>
          <div class="form-group">
             {{form_field(add_user_form,'email')}}
          </div>
          <div class="form-group">
            {{form_field(add_user_form,'password',True,8)}}
          </div>
          <div class="form-group">
             {{form_field(add_user_form,'confirm_password',True,8)}}
          </div>
          <div class="form-group">
            <div>
              {{ add_user_form.permissions.label(class="col-form-label") }}
            </div>
            {{ add_user_form.permissions(class="form-control permissions",id=False) }}
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           {{ add_user_form.submit(class="btn btn-primary", id=False) }}
        </div>
      </form>
    </div>
  </div>
</div>

{% include "includes/remove_modal.html" %}




{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js" ></script>
<script>
$('.permissions').multiselect({
    buttonClass: 'btn btn-info',
    templates: { li: '<li><a class="dropdown-item" tabindex="0"><label style="padding-left: 10px;width: 100%"></label></a></li>' },
    numberDisplayed: 0
  });
</script>

{% endblock %}
